.calculator{
   display: flex;
   justify-content: center;
   padding: 0px;
   margin-top: 8rem;
}
.container{
    display: flex;
    /* justify-content: space-around; */
}
.calsBody{
    width: 18rem;
    /* max-width: 20%; */
    height: auto;
    background: #000;
    padding: 9px;
}
/* a{
    color: #ffffff;
    text-decoration: none;
} */
button{
    background-color:#36383d ;
    border-radius: 50%;
    padding: 20px;
    width: 60px;
    height: auto;
    border: none;
    text-decoration: none;


}

ul{
    list-style: none;
    padding-left: 5px;
}
.placeholder{
    display: flex;
    align-items: end;
    margin-top: 29px;
    margin-bottom: 34px;
    font-size: 50px;
    width: 292px;
    padding-right: 0px;
    height: 56px;
    background-color: #000;
    border: none;
    text-align: end;
    color: #ffffff;
    
}
::placeholder{
color: #ffffff;
width: 200;
}

.valueSection button{

    margin: 5px;
    margin-top: -20px;
}
.menuButton a{
 border: #000;
 color:#ffa00a ;
}
.menuBar button{
    background-color: #000000 !important;
}

.buttonGray{
    background-color: #5c5b5f;
}

.buttonOrange{
    background-color: #ffa00a;
}
button{
    color: #ffffff;
}
button:hover{
    background-color: #a1a1a1;
}

.buttonGray:hover{
    background-color: #6b6b6b;
}

.buttonOrange:hover{
    background-color: #ff8f00;
}

